{% extends "layout.html" %}

{% block content %}

<script>
  $(document).ready(function() {
    $("#results").hide();
    $("#next-btn").hide();

    $("#save-btn").click(function() {

      var move = $("#move").val();
      console.log(move);
      var board_white = $('#board-white').text();
      console.log(board_white);
      var board_black = $('#board-black').text();
      console.log(board_black);

      $.ajax({
        url: '/find_checks/',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ "move": move , "board_alg": {"white": board_white, "black": board_black} }),
        dataType: 'json',
        success: function (data) {
          var result = data.result;
          var text = "";
          console.log(result);
          if (result == "check") {
            text = "Correct!";
            $("#move").css("border", "3px solid green");
          } else if (result == "not a check") {
            text = "Incorrect. Try again!";
            $("#move").css("border", "3px solid red");
          } else if (result == "invalid move") {
            text = "Invalid move";
            $("#move").css("border", "3px solid red");
          };
          $("#results").text(text);
          $("#results").show();
          $("#next-btn").show();
        }
      });

    });

    $("#next-btn").click(function() {
        location.reload();
    });

  });
</script>


<h2>Find a check</h2>

<p>white: <span id="board-white">{{ board_alg.white }}</span></p>
<p>black: <span id="board-black">{{ board_alg.black }}</span></p>

<div class="ui input">
  <input type="text" placeholder="e4" id="move">
</div>

<button class="ui button" id="save-btn">Submit</button>
<button class="ui button" id="next-btn">Next</button>

<div><span id="results"></span></div>


{% endblock %}
